# If you want some example snippets, check out:
# https://github.com/atom/language-gfm/blob/master/snippets/gfm.cson

'.source.fidl':
  'Documentation':
    'prefix': '<*'
    'body': '<** @description ${1:description} **>'
  'Attribute':
    'prefix': 'a'
    'body': 'attribute ${1:type} ${2:name}'
  'Method':
    'prefix': 'm'
    'body': 'method ${1:name} {\n  in { ${2:type} ${3:param} }\n}'
  'Broadcast':
    'prefix': 'b'
    'body': 'broadcast ${1:name} {\n  out { ${2:type} ${3:param} }\n}'
  'Version':
    'prefix': 'v'
    'body': 'version { major ${1:0} minor ${2:1} }'
